body {
  width: 100%;
  background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.7), black), url("http://3.bp.blogspot.com/-FFN0GnGuv1Q/T4ERISH9ojI/AAAAAAAABGc/o9W5fwXVRZA/s1600/water+blue+by+maceme+wallpaper.jpg");
  background-position: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.trainer-box {
  background-color: rgba(123, 184, 162, 0.3);
  padding: 10px;
  height: 600px;
  /* overflow: hidden; */ /*I turned this off for taunt to diplay*/
}


.pokeball {
  height: 20px;
  width: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.pokeballsbox{
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}

.tauntbox {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  min-width: 500px;
  padding: 15px;
  margin: 0;
}

.pokestatsbox {
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    min-width: 500px;
    padding: 15px;
    margin: 0;
}

.trainerpic {
display: grid;
}

.trainerpic img {
  max-width: 400px;

}

.hidden {
  opacity: 0;
  transition: opacity;
  transition-duration: 2s;
}

.revealed {
  transition: opacity;
  transition-duration: 2s;
  opacity: 1;
}
