
.pokeball {
  animation: bounce 1.5s;
  animation-iteration-count: infinite;
}

@keyframes bounce {

0% { transform: translateY(-1px); }
10% { transform: translateY(-2px); }
20% { transform: translateY(-3px); }
30% { transform: translateY(-4px); }
40% { transform: translateY(-5px); }
50% { transform: translateY(-4px); }
60% { transform: translateY(-3px); }
70% { transform: translateY(-2px); }
80% { transform: translateY(-1px); }
90% { transform: translateY(0px); }
100% { transform: translateY(0px); }
}

.trainerpic:active {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(10px, 10px) rotate(0deg); }
  10% { transform: translate(-10px, -20px) rotate(-1deg); }
  20% { transform: translate(-30px, 0px) rotate(1deg); }
  30% { transform: translate(30px, 20px) rotate(0deg); }
  40% { transform: translate(10px, -10px) rotate(1deg); }
  50% { transform: translate(-10px, 20px) rotate(-1deg); }
  60% { transform: translate(-30px, 10px) rotate(0deg); }
  70% { transform: translate(3px, 10px) rotate(-1deg); }
  80% { transform: translate(-10px, -10px) rotate(1deg); }
  90% { transform: translate(10px, 20px) rotate(0deg); }
  100% { transform: translate(10px, -20px) rotate(-1deg); }
}

.pokeball:hover {
animation: initial;
transform: translateY(1px) rotate(45deg) scale(1.3, 1.3);
}

.pokestatsbox:hover {
  transform: scale(1.05, 1.05);
  transition-duration: 1s;
}
